
<!-- Main -->
<main>
  <section class="profile-bg-section parallax section_ground" >
  </section>
  <section class="profile-container gray-bg">
    <div class="container">
      <div class="row align-items-start">
        <div class="col-lg-4 col-xl-3">
          <%= render 'dev/configuracao/section', {section_order: "invite"} %>
        </div>
        <div class="col-lg-8 col-xl-9">
          <div class="profile-content-area m-40px-tb card card-body">
            <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
              <h3 class="m-5px-b"> <i class="fas fa-cogs"></i> Convites de  Usuários </h3>
              <h6 class="body-color font-w-500 m-25px-b">Data: <%= Time.now.to_s_br %></h6>
              <p>Usuários que enviaram convite de amizade.</p>
              <div class="nav">
              </div>
            </div>
            <div class="border-bottom-1 border-color-dark-gray m-35px-b p-35px-b">
              <h5>Usuários</h5>
              <div class="row">
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <%= image_tag('img/effect/user.jpeg', class: 'rounded-circle') %>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Desde: <%= @usuario.created_at.to_s_br %></span>
                        <h6 class="m-0px"><%= @usuario.nome %></h6>
                        <p class="m-0px"><%= @usuario.email %></p>
                        <div class="row">
                          <div class="col col-md">
                            <a class="m-btn m-btn-sm m-btn-theme-light m-btn-radius " href="#">Amigo +</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <i class="fab fa-facebook"></i>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Jul 2018</span>
                        <h6 class="m-0px">Senior Frontend Developer</h6>
                        <p class="m-0px">at Google - SF, USA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <i class="fab fa-twitter"></i>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Jul 2018</span>
                        <h6 class="m-0px">Senior Frontend Developer</h6>
                        <p class="m-0px">at Google - SF, USA</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 m-15px-tb">
                  <div class="card p-15px">
                    <div class="media align-items-center">
                      <div class="only-icon-60 theme-color">
                        <i class="fab fa-instagram"></i>
                      </div>
                      <div class="media-body p-15px-l">
                        <span class="font-small">Jul 2018</span>
                        <h6 class="m-0px">Senior Frontend Developer</h6>
                        <p class="m-0px">at Google - SF, USA</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- main end -->
