<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <title>G2</title>
    <meta name="SalomaoCruz" content="9rts" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="G2 - Site G2-teste" />
    <meta name="description" content="G2 - Site G2-teste" />
    <%= csrf_meta_tags  %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'sort', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'sort', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
